.font-14,
.combo-select,
table td {
  font-size: 14px;
}

.fa-circle-user {
  font-size: 1.5rem;
}

.fa-bars-staggered {
  font-size: 25px;
}

.container-add-img .fa-circle-xmark {
  font-size: 1.5rem;
}

.font-12 {
  font-size: 12px;
}

@media (max-width: 1399.98px) {}

@media (max-width: 1199.98px) {
  table th {
    font-size: 14px;
  }

  h3 {
    font-size: 25px;
  }
}

@media (max-width: 991.98px) {

  .sidebar .accordion-item .accordion-button,
  .sidebar ul li a,
  p,
  div.dataTables_filter input {
    font-size: 14px !important;
  }

  h3 {
    font-size: 22px;
  }

  h5 {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .container-add-img .fa-circle-xmark {
    font-size: 1rem;
  }

  table td {
    font-size: 12px;
  }

  .m-300 {
    margin-left: 270px;
  }

  .w-300 {
    width: 270px;
  }

  .sidebar a {
    padding: 11px 8px 11px 32px;
  }

  h5 {
    font-size: 16px;
  }

  .sidebar .closebtn {
    font-size: 25px;
  }

  h3 {
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  h5 {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
  }

  .fa-bars-staggered,
  .sidebar .closebtn {
    font-size: 20px;
  }

  .sidebar {
    padding-top: 160px;
  }

  .m-65 {
    margin-left: 50px;
  }

  .combo-input,
  .card-image p.font-14,
  .combo-input,
  .input-box label {
    font-size: 13px !important;
  }

  .font-12 {
    font-size: 10px;
  }

  .dashboard-h li {
    font-size: 10px;
  }
}

@media (max-width: 375.98px) {

  .combo-input,
  .font-14 {
    font-size: 12px;
  }
}