<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Product</title>
    <!-- fontawsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
          integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'libs/bootstrap/bootstrap.min.css' %}">
    <!-- end -->

    <!-- dataTable -->
    <link rel="stylesheet" href="{% static 'libs/dataTable/dataTablesBootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'libs/dataTable/responsive.css' %}">
    <!-- end -->

    <!-- custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <!-- end -->

</head>

<body>
{% include 'aside.html' %}
{% include 'navbar.html' %}
{#<main class="m-300 py-3 py-md-5">#}
    {% block content %}
    {% endblock %}
{#</main>#}


<!-- bootstrap -->
<script src="{% static 'libs/jQuery.js' %}"></script>
<script src="{% static 'libs/bootstrap/bootstrap.bundle.min.js' %}"></script>
<!-- end -->

<!-- dataTable -->
<script src="{% static 'libs/dataTable/table.js' %}"></script>
<script src="{% static 'libs/dataTable/dataTablejQuery.js' %}"></script>
<script src="{% static 'libs/dataTable/responsive.js' %}"></script>
<!-- end -->

<!-- custom -->
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>