{% load static %}
<nav class="navbar px-4">
    <button class="openbtn show-btn" onclick="openNav()"><i class="fa-solid fa-bars-staggered"></i></button>
    <!-- <h5 class="mb-0 fw-bolder">
      <span>General Authority for</span>
      <hr class="m-0">
      <span>Saudi Food and Drug Administration</span>
    </h5> -->
    <div class="h-100 d-flex align-items-center">
        <div class="logo h-100">
            <img src="{% static 'images/logo.jpg' %}" alt="logo">
        </div>
        <h5 class="fw-bolder ms-2 mb-0">
            Saudi food &
            <br/>
            drog authority
        </h5>
    </div>
    <div class="d-flex align-items-center">
        <div class="dropdown">
            <a class="btn btn-edit dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="fa-solid fa-repeat me-2"></i>
                <span class="d-none d-sm-inline-block">employee</span>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">other</a></li>
            </ul>
        </div>
        <h6 class="mb-0 fw-bolder d-flex align-items-center">
            <p class="m-0 d-none d-sm-block">Abdulaziz S.Al-Anazi</p>
            <i class="fa-regular fa-circle-user ms-2" title="Abdulaziz S.Al-Anazi"></i>
        </h6>
    </div>

</nav>